:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 

  color-scheme: only dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 1.2rem;
}
a:hover {
  color: #b0b4ff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* justify-content: center;
  align-items: center; */
  color: white;
  min-width: 320px;
  min-height: 100vh;
}

/* .card {
  padding: 2em;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.inlineBtn {
  background-color: transparent;
  color: #646cff;
  padding: 0;
  line-height: 1.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
}